<mat-form-field id="bottom-sheet-form-field">
  <textarea
    id="bottom-sheet-textarea"
    [(ngModel)]="postContent"
    matInput
    placeholder="Your post content here..."
  ></textarea>
</mat-form-field>
<button
  *ngIf="hasData"
  (keyup.enter)="editPost()"
  (click)="editPost()"
  color="primary"
  id="create-post-button"
  mat-raised-button
>
  Edit Post
</button>
<button
  *ngIf="!hasData"
  (keyup.enter)="createPost()"
  (click)="createPost()"
  color="primary"
  id="create-post-button"
  mat-raised-button
>
  Create Post
</button>
