<auth-base>
  <form id="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</auth-base>
